body {
  background-color: #626262;
  margin: 0;
  color: white;
}

.header {
  background-color: #333333;
  width: 100%;
  padding-top: 1vh;
  border-bottom: thick groove #201D1D;
  height: 100%
}

h1 {
  color: #EFAF11;
  padding-left: 1vh;
}

h2, h3{
  color: #EFAF11;
}

.nav-bar {
  display: flex;
  margin-bottom: 5vh;
  text-color: #EFAF11;
}

.nav-bar > div { /*added to each div within nav-bar*/
    padding-right: 2vw;
}

#main-body {
  display: flex;
}

#portrait {
  height: 40vh;
}

.portrait {
  margin-top: 3vh;
  margin-right: 8vh;
  margin-left: 8vh;
}

.salon-tour {
  text-align: center;
}

a {
  text-decoration: none;
  color: #EFAF11;
  padding: 1vh;
  cursor: pointer;
}

a:hover {
  color: white;
  background-color: #464646;
}

.links {
  list-style-type: none;
}

.contact-body {
  display: flex;
}

.contact-info {
  margin-left: 2vw;
}

.column {
  flex-direction: column;
}

.topBtn {
  position: fixed;
  bottom: 3vmin;
  right: 4vmin;
  z-index: 99;
  border: none;
  outline: none;
  background: #333333;
  color: white;
  cursor: pointer;
  padding: 2vmin;
  border-radius: 1vmin;
  font-size: 2rem;
}

.topBtn:hover {
  background-color: #464646;
}

/* Gallery Styles
------------------ */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16vw, auto));
  align-items: center;
  justify-items: center;
  grid-gap: 8vh;
}

.ccsgal {
  max-width: 12vw;
  grid-row: span 2;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
}

.landscape {
  max-width: 12vw;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
}

.wedgal {
  max-height: 30vh;
  grid-row: span 2;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
}

.mengal {
  max-width: 12vw;
  grid-row: span 2;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
}

.kidgal {
  max-width: 12vw;
  grid-row: span 2;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
}

.movgal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16vw, auto));
  grid-gap: 8px;
  align-items: center;
  justify-items: center;
}

.movg {
  grid-row: span 2;
  border-width: medium;
  border-color: #201D1D;
  border-style: groove;
  cursor: pointer;
  max-width: 12vw;
}
.movg:hover {
  opacity: 0.5
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: "black";
}

.lightboximg {
  max-height: 90%;
  border-width: thick;
  border-color: "white";
  border-style: groove;
}

/* Reviews Styling
-------------------*/
.review_display {
  display: flex;
  margin-top: 8vmin;
  margin-left: 8vmin;
  margin-right: 8vmin;
  justify-content: center;
}

.post {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  text-indent: 8px;
  margin-bottom: 2vmin;
  color: #FFFAF1
}

.post-header {
  background-color: #333333;
  width: 100%;
  border-bottom: medium groove #201D1D;
  margin-top: -2vmin;
  padding-top: 2vmin;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-bottom: 2vmin;
  max-height: 53vh;
  overflow: auto;
}

.form label {
  float: left;
  margin-bottom: 8px;
}

.input {
  background: transparent;
  border-bottom-color: white;
  border-bottom-style: groove;
  border-bottom-width: thin;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #A2C5AC;
  width: 100%;
  font-size: 2vmin;
  font-family: arial;
}

.submit {
    background-image: linear-gradient(to right, #626262, #333333);
    color: #EFAF11;
    border: none;
    margin-top: 8px;
    font-size: 2vmin;
    border-radius: 10px;
    padding: 1vmin 0 1vmin 0;
    cursor: pointer;
}

.reviews {
  width: 50%;
  margin-left: 8vmin;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-bottom: 2vmin;
  max-height: 65vh;
  overflow: auto;
}

.error {
  color: #ff8282;
}